server:
  port: 8080

spring:
  datasource:
    url: jdbc:h2:mem:vacationdb
    driver-class-name: org.h2.Driver
    username: sa
    password:
  h2:
    console:
      enabled: true
      path: /h2-console
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true

app:
  security:
    jwt-secret: 0123456789abcdef0123456789abcdef
  staffing:
    min-employees-on-site: 2
